
.sidebar {
  flex: 3;
  margin-left: 20px;
}

.sidebar-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.sidebar-links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-links .sidebar-link{
  margin: 15px 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  background-color: var(--category-item-color);
  text-align: center;
  padding: 5px;
  position: relative;
  text-transform: capitalize;
  display: block;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 5% 100%, 0% 50%, 5% 0);
  transition: all 0.5s;
}

.sidebar-links .sidebar-link:hover{
background-color: var(--pumpkin-color);
color: var(--white-color);
}

.sidebar-links .sidebar-link::after{
  content: "";
  background-color: blue;
  color: var(--white-color);
  position: absolute;
  background-color: red;
  z-index: 99;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 11px;
  left: 19px;
  background-color: var(--white-color);
}


@media (max-width : 990px) {
  .sidebar {
    width: 100%;
  }

  .sidebar-links .sidebar-link::after{
    left: 37px;
   }
}

@media (max-width : 600px) {
  .sidebar-links .sidebar-link::after{
    left: 29px;
   }
}