.category {
min-height: calc(100vh - 50px);
padding: 20px;
padding-top: 80px;
}

.category-title {
  margin-bottom: 20px;
  color: var(--primary-color);
  text-transform: capitalize;
  padding-bottom: 7px;
  border-bottom: 2px solid var(--gray-color);
  font-size: 28px;
  width: max-content;
  margin-inline: auto;
}
.category-title span{
color: var(--pumpkin-color);
}

@media (max-width : 600px) {
  .category-title {

    font-size: 21px;
  }
}