.header {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-color);
  position: relative;
  z-index: 99;
  border-bottom: 2px solid var(--white-color);
}

.logo-img {
  width: 50px;
  height: 50px;
}
.header-left {
  display: flex;
  align-items: center;
}

.header-menu {
  display: none;
}

.header-menu i {
  font-size: 45px;
  margin-right: 3px;
  color:  var(--white-color);
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
}
 .nav-link {
  margin: 0 10px;
  cursor: pointer;
  font-style: 17px;
  font-weight: 500;
  color:  var(--white-color);
 }

 .nav-link i {
  margin-right: 3px;
 }

 .header-right-link {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  background-color:var(--white-color); ;
  color:  var(--blue-color);
  border-radius: 10px;
  padding: 5px 10px;
 }

 .header-right-link i{
margin-right: 3px;
 }


 /* media query  */

 @media (max-width: 990px) {
  .header-left {
    flex-direction: row-reverse;
  }
  .header-menu {
    display: block;
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--blue-color);
    transition: all 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 100%;
  }
  .nav-links {
    flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-left: 30px;
  }
  .nav-link {
    margin: 0;
    margin-bottom: 15px;
  }
 }

 @media (max-width : 520px) {
  .header {
    padding: 0 10px;

  }
  .logo-img {
    width: 40px;
    height: 40px;
  }

  .header-right-link {
    font-size: 15px;
    padding: 5px 7px;
   }

   .header-menu {
    margin-right: 5px;
   }
 }