.post-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 9;
}

.post-item {
  width: 100%;
  background-color: var(--post-item-color);
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--post-item-border-color);
}

.post-item-image-wrabber {
  width: 100%;
  margin-bottom: 15px;
}

.post-item-image {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 5px;
}

.post-item-info-wrabber {
  width: 100%;
}

.post-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 5px;
}

.post-item-auther strong {
  color: var(--green-sea-color);
  font-size: 18px;
}
.post-item-auther .post-item-username {
  color: var(--primary-color);
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

.post-item-date {
  font-size: 14px;
  font-weight: bold;
  color: var(--green-sea-color);
}

.post-items-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.post-item-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}

.post-item-category {
  background-color: var(--pumpkin-color);
  color: var(--white-color);
  padding: 2px 7px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.post-item-description {
  font-size: 17px;
  line-height: 1.7;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 5px;
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-item-link {
  width: 100%;
  padding: 5px;
  background-color: var(--green-color);
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
  font-size: 19px;
  border-radius: 8px;
}

@media (max-width: 720px) {
  .post-item {
    padding: 10px;
  }
  .post-item-image {
    height: fit-content;
  }

  .post-item-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .post-item-category {
    font-size: 13px;
  }
}

@media (max-width : 520px) {
  .post-item-info {
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }
}
