:root {
  --main-color: #efefef;
  --primary-color: #1d2d3d;
  --secondary-color:#495e74 ;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #0275d8;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
  --post-item-color: rgb(244, 244, 244);
  --post-item-border-color: rgb(183, 179, 179);
  --category-item-color: rgb(170, 168, 168);
  --table-th-hover : #ddd ;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
}


footer {
  background-color: var(--blue-color);
  color: var(--white-color);
display: flex;
justify-content: center;
align-items: center;
   height: 50px;
  font-size: 17px;
  font-weight: 500;
}


 /* modal  */

 .update-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .update-modal.comment  {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  
  .update-modal-form {
    width: 700px;
    background-color: var(--white-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
  }
  
  .update-modal-form-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--red-color);
    font-size: 30px;
    cursor: pointer;
  }
  
  .update-modal-title {
    text-align: center;
    text-transform: capitalize;
    color: var(--green-sea-color);
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .update-modal-input
  ,.update-modal-textarea {
  width: 100%;
  border-radius: 10px;
  font-size: 21px;
  border: 1px solid var(--gray-color);
  padding: 10px;
  margin: 10px 0;
  }
  
  .update-modal-textarea  {
    resize: none;
  }
  
  .update-modal-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--green-sea-color);
    padding: 9px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  
  @media (max-width: 820px) {
    .update-modal-form {
      width: 90%;
    }
  }
  
