.home-hero-header {
  background: url("../../images/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.home-hero-header-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.home-title {
font-size: 33px;
background-color: var(--main-color);
padding: 8px 15px;
border-radius: 18px;
color: var(--dark-color);
border: 2px solid var(--green-color);
text-transform: capitalize;
margin-top: 40px;
}

.home-latest-post {
  margin-left: 30px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
  width: max-content;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--dark-color);
} 

.home-container {
padding: 0 30px;
display: flex;  
align-items: flex-start;
}

.home-see-posts-link {
  margin: 15px 0;
  padding: 0 30px;
}

.home-see-posts-link .home-link {
width: 100%;
padding: 10px;
font-size: 20px;
background-color: var(  --dark-color);
color: var(--white-color);
font-weight: 500;
cursor: pointer;
border: none;
display: block;
text-align: center;
border-radius: 7px;
}

/* media query  */

@media (max-width : 990px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width : 520px) {
  .home-container {
padding: 0 15px;
  }

  .home-latest-post {
    margin-left: 15px;
  }
  .home-title {
    font-size: 25px;
  }
}